In [2]:
import pandas as pd
import sklearn
import numpy as np

In [3]:
M = np.genfromtxt('../data/processed.cleveland.data', missing_values=0, delimiter=',', dtype=float)
cleveland_df = pd.DataFrame(M,columns=["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal","num"],)
print(cleveland_df)

      age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0    63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1    67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2    67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3    37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4    41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
298  45.0  1.0  1.0     110.0  264.0  0.0      0.0    132.0    0.0      1.2
299  68.0  1.0  4.0     144.0  193.0  1.0      0.0    141.0    0.0      3.4
300  57.0  1.0  4.0     130.0  131.0  0.0      0.0    115.0    1.0      1.2
301  57.0  0.0  2.0     130.0  236.0  0.0      2.0    174.0    0.0      0.0
302  38.0  1.0  3.0     138.0  175.0  0.0      0.0    173.0    0.0      0.0

     slope   ca  thal  num
0      3.0  0.0   6.0  0.0
1      2.0  3.0   3.0  2.0
2      2.0  2.0   7.0  1.0
3      3.0  0.0   3.0  0.0
4      1.0  0.0   3.0  0.0
..     ...  ...   ...  ...
298    2.0  0.0   7.0  1.0
299    2.0  2.0   7.0  2.0
300    2.0  1.0   7.0  3.0
301    2.0  1.0   3.0  1.0
302    1.0  NaN   3.0  0.0

[303 rows x 14 columns]

In [4]:
cleveland_df['ca'].fillna(cleveland_df['ca'].mode()[0], inplace = True)
cleveland_df['thal'].fillna(cleveland_df['thal'].mode()[0], inplace = True)
cleveland_df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

In [74]:
# cleveland_df.dropna(axis=0,inplace=True)
# cleveland_df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

In [5]:
del cleveland_df['ca']
del cleveland_df['thal']

In [12]:
cleveland_df['heartdis'] = np.where(cleveland_df['num'] > 0.0, 1,0)
del cleveland_df['num']

In [19]:
# cleve_dummies = pd.get_dummies(cleveland_df, columns=['sex','cp','fbs','restecg','exang','slope'],
#                                prefix=['Sex','ChestPainType','FastingBS','RestingECG','ExerciseAngina','ST_Slope'])
# print(cleve_dummies.head())
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# cleve_standard = pd.DataFrame(scaler.fit_transform(cleve_dummies),columns=cleve_dummies.columns)
# print(cleve_standard.head())

    age  trestbps   chol  thalach  oldpeak  heartdis  Sex_0.0  Sex_1.0  \
0  63.0     145.0  233.0    150.0      2.3         0        0        1
1  67.0     160.0  286.0    108.0      1.5         1        0        1
2  67.0     120.0  229.0    129.0      2.6         1        0        1
3  37.0     130.0  250.0    187.0      3.5         0        0        1
4  41.0     130.0  204.0    172.0      1.4         0        1        0

   ChestPainType_1.0  ChestPainType_2.0  ...  FastingBS_0.0  FastingBS_1.0  \
0                  1                  0  ...              0              1
1                  0                  0  ...              1              0
2                  0                  0  ...              1              0
3                  0                  0  ...              1              0
4                  0                  1  ...              1              0

   RestingECG_0.0  RestingECG_1.0  RestingECG_2.0  ExerciseAngina_0.0  \
0               0               0               1                   1
1               0               0               1                   0
2               0               0               1                   0
3               1               0               0                   1
4               0               0               1                   1

   ExerciseAngina_1.0  ST_Slope_1.0  ST_Slope_2.0  ST_Slope_3.0
0                   0             0             0             1
1                   1             0             1             0
2                   1             0             1             0
3                   0             0             0             1
4                   0             1             0             0

[5 rows x 22 columns]
        age  trestbps      chol   thalach   oldpeak  heartdis   Sex_0.0  \
0  0.948726  0.757525 -0.264900  0.017197  1.087338 -0.920631 -0.686202
1  1.392002  1.611220  0.760415 -1.821905  0.397182  1.086212 -0.686202
2  1.392002 -0.665300 -0.342283 -0.902354  1.346147  1.086212 -0.686202
3 -1.932564 -0.096170  0.063974  1.637359  2.122573 -0.920631 -0.686202
4 -1.489288 -0.096170 -0.825922  0.980537  0.310912 -0.920631  1.457296

    Sex_1.0  ChestPainType_1.0  ChestPainType_2.0  ...  FastingBS_0.0  \
0  0.686202           3.489114          -0.444554  ...      -2.394438
1  0.686202          -0.286606          -0.444554  ...       0.417635
2  0.686202          -0.286606          -0.444554  ...       0.417635
3  0.686202          -0.286606          -0.444554  ...       0.417635
4 -1.457296          -0.286606           2.249444  ...       0.417635

   FastingBS_1.0  RestingECG_0.0  RestingECG_1.0  RestingECG_2.0  \
0       2.394438       -0.996705       -0.115663        1.023375
1      -0.417635       -0.996705       -0.115663        1.023375
2      -0.417635       -0.996705       -0.115663        1.023375
3      -0.417635        1.003306       -0.115663       -0.977158
4      -0.417635       -0.996705       -0.115663        1.023375

   ExerciseAngina_0.0  ExerciseAngina_1.0  ST_Slope_1.0  ST_Slope_2.0  \
0            0.696631           -0.696631     -0.939142     -0.926766
1           -1.435481            1.435481     -0.939142      1.079021
2           -1.435481            1.435481     -0.939142      1.079021
3            0.696631           -0.696631     -0.939142     -0.926766
4            0.696631           -0.696631      1.064802     -0.926766

   ST_Slope_3.0
0      3.664502
1     -0.272888
2     -0.272888
3      3.664502
4     -0.272888

[5 rows x 22 columns]

In [13]:
cleveland_df.to_csv("../data/ProcessedClevelandData.csv",index=False)
cleveland_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,heartdis
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,1
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,0